@import "tailwindcss";
@source "angular/src";
@plugin "daisyui" {
}

@layer utilities {
  /* 
   * This is a workaround for mobile, so that scroll 
   * and other gestures don't interfere with dragging
   * https://github.com/taye/interact.js/issues/595#issuecomment-372888571 
   */
  .draggable {
    @apply cursor-grab touch-none ;
  }

  .dragging {
    @apply cursor-grabbing ;
    z-index: 1000 ; 
  }

  .bg-suit-military {
    --tw-bg-opacity: 1;
    background-color: rgb(223 71 71 / var(--tw-bg-opacity, 1));
  }

  .bg-suit-noble {
    --tw-bg-opacity: 1;
    background-color: rgb(224 189 22 / var(--tw-bg-opacity, 1));
  }

  .bg-suit-religious {
    --tw-bg-opacity: 1;
    background-color: rgb(75 203 214 / var(--tw-bg-opacity, 1));
  }

  .bg-suit-trade {
    --tw-bg-opacity: 1;
    background-color: rgb(104 189 126 / var(--tw-bg-opacity, 1));
  }

  .bg-suit-unique {
    --tw-bg-opacity: 1;
    background-color: rgb(169 107 244 / var(--tw-bg-opacity, 1));
  }

}
